/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(224, 156, 212);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(135, 214, 188);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: rgb(224, 156, 212);
    font-size: 20px;
    margin-bottom: 10px;
}

section p {
    color: #000000;
    line-height: 1.6;
}

section img {
    display: block;
    max-width: 100%;
    margin-top: 10px;
}

footer {
    background-color: rgb(135, 214, 188);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
